<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>serhatcantopcu.com</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="developer, html, css, bootstrap, JavaScript, discord" name="keywords">
  <meta content="Serhat Can Topcu developer website" name="description">

  <!-- Favicons -->
  <link href="jonblackcan.ico" rel="icon">
  <link href="jonblackcan.ico" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  <link href="bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="font-awesome.min.css" rel="stylesheet">
  <link href="animate.min.css" rel="stylesheet">
  <link href="ionicons.min.css" rel="stylesheet">
  <link href="owl.carousel.min.css" rel="stylesheet">
  <link href="lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: DevFolio
    Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body id="page-top">

  <!--/ Nav Star /-->
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="#page-top">Serhat Can Topcu</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll active" href="#sablonlar">Şablon Siteler</a>
              </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="/#home">Ana Sayfa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="/#about">Hakkımda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="/#service">Hizmetler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="/#work">Çalışmalarım</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="/#sponsor">Sponsorluklar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="/#contact">İletişim</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Nav End /-->

  <!--/ Intro Skew Star /-->
  <div id="home" class="intro route bg-image" style="background-image: url(arkaplan.png)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">Şablon Siteler</h1>
          <p class="intro-subtitle"><span class="text-slider-items">Eğer site yaptırmak isterseniz şablonu burdan beğenip e-posta yolu ile benimle iletişime geçebilirsiniz,Şablonlar isteğinize göre özelleştirilmektedir,Kafanızda soru işareti kalırsa veya burdaki şablonları beğenmezseniz e-posta'dan benimle iletişime geçip fikirlerinizi/önerilerinizi paylaşabilirsiniz</span><strong class="text-slider"></strong></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->
  <!--/ Section Portfolio Star /-->
  <section id="sablonlar" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Şablonlar 
            </h3>
            <p class="subtitle-a">
              Yakında Daha Fazla Şablon Eklenecektir.
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="/public/hellcat.png" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="/public/hellcat.png" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title"><a href="/sablonlar/dcbotsite1/index">Discord Bot Tanıtım Sitesi #1</a></h2>
                    <div class="w-more">
                      <span class="w-ctegory">Discord Bot </span> / <span class="w-date">21 May. 2022</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
       <div class="col-md-4">
         <div class="work-box">
          <a href="RESİM" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="RESİM" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title"><a href="/sablonlar/yetkilipaneli1/index">Yetkili Paneli</a></h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Geliştirme/Tasarım</span> / <span class="w-date">21 May. 2022</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span><!-- + ikonu burda -->
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
 <!--       <div class="col-md-4">-->
 <!--         <div class="work-box">-->
 <!--           <a href="fiyaskorplaunchher.png" data-lightbox="gallery-mf">-->
 <!--             <div class="work-img">-->
 <!--               <img src="fiyaskorplaunchher.png" alt="" class="img-fluid">-->
 <!--             </div>-->
 <!--             <div class="work-content">-->
 <!--               <div class="row">-->
 <!--                 <div class="col-sm-8">-->
 <!--                   <h2 class="w-title">Fivem Fiyasko roleplay launcher</h2>-->
 <!--                   <div class="w-more">-->
 <!--                     <span class="w-ctegory">Grafik Dizayn/C#</span> / <span class="w-date">18 Sept. 2020</span>-->
 <!--                   </div>-->
 <!--                 </div>-->
 <!--                 <div class="col-sm-4">-->
 <!--                   <div class="w-like">-->
 <!--                     <span class="ion-ios-plus-outline"></span>-->
 <!--                   </div>-->
 <!--                 </div>-->
 <!--               </div>-->
 <!--             </div>-->
 <!--           </a>-->
 <!--         </div>-->
 <!--       </div>-->
 <!--       <div class="col-md-4">-->
 <!--         <div class="work-box">-->
 <!--           <a href="work-5.jpg" data-lightbox="gallery-mf">-->
 <!--             <div class="work-img">-->
 <!--               <img src="work-5.jpg" alt="" class="img-fluid">-->
 <!--             </div>-->
 <!--             <div class="work-content">-->
 <!--               <div class="row">-->
 <!--                 <div class="col-sm-8">-->
 <!--                   <h2 class="w-title">lbrp.technooyun.net</h2>-->
 <!--                   <div class="w-more">-->
 <!--                     <span class="w-ctegory">Web Design / Backend Web Development</span> / <span class="w-date">18 Sep. 2018</span>-->
 <!--                   </div>-->
 <!--                 </div>-->
 <!--                 <div class="col-sm-4">-->
 <!--                   <div class="w-like">-->
 <!--                     <span class="ion-ios-plus-outline"></span>-->
 <!--                   </div>-->
 <!--                 </div>-->
 <!--               </div>-->
 <!--             </div>-->
 <!--           </a>-->
 <!--         </div>-->
 <!--       </div>-->
 <!--       <div class="col-md-4">-->
 <!--         <div class="work-box">-->
 <!--           <a href="work-6.jpg" data-lightbox="gallery-mf">-->
 <!--             <div class="work-img">-->
 <!--               <img src="work-6.jpg" alt="" class="img-fluid">-->
 <!--             </div>-->
 <!--             <div class="work-content">-->
 <!--               <div class="row">-->
 <!--                 <div class="col-sm-8">-->
 <!--                   <h2 class="w-title">Studio Big Bang</h2>-->
 <!--                   <div class="w-more">-->
 <!--                     <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2017</span>-->
 <!--                   </div>-->
 <!--                 </div>-->
 <!--                 <div class="col-sm-4">-->
 <!--                   <div class="w-like">-->
 <!--                     <span class="ion-ios-plus-outline"></span>-->
 <!--                   </div>-->
 <!--                 </div>-->
 <!--               </div>-->
 <!--             </div>-->
 <!--           </a>-->
 <!--         </div>-->
 <!--       </div>-->

    </div>
  </div>
  </section>
  <!--/ Section Portfolio End /-->


  <!--/ Section Contact-Footer Star /-->
  <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="title-box-2 pt-4 pt-md-0">
                    <h5 class="title-left">
                      İletişim
                    </h5>
                  </div>
                  <div class="more-info">
                    <p class="lead">
                      İletişim için discord ve mail adreslerimi tercih edebilirsiniz. &copy; Copyright Bu sayfanın ve diğer yaptığım sayfaların tüm hakları saklıdır 
                    </p>
                    <ul class="list-ico">
                      <li><span class="ion-email"></span> <a href="mailto:contact@serhatcantopcu.com">contact@serhatcantopcu.com</a></li>
                    </ul>
                  </div>
                  <div class="socials">
                    <ul>
                      <li><a href=""><span class="ico-circle"><i class="ion-social-facebook"></i></span></a></li>
                      <li><a href="https://www.instagram.com/serhatcantopcu/"><span class="ico-circle"><i class="ion-social-instagram"></i></span></a></li>
                      <li><a href=""><span class="ico-circle"><i class="ion-social-twitter"></i></span></a></li>
                      <li><a href=""><span class="ico-circle"><i class="ion-social-pinterest"></i></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="copyright-box">
              <p class="copyright">&copy; Copyright <strong>serhatcantopcu.com</strong>. Tüm Hakları Saklıdır</p>
              <p class="copyright">&copy; Copyright <strong>technooyun.com</strong>. Tüm Hakları Saklıdır</p>
              <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=DevFolio
                -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </section>
  <!--/ Section Contact-footer End /-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="jquery.min.js"></script>
  <script src="jquery-migrate.min.js"></script>
  <script src="popper.min.js"></script>
  <script src="bootstrap.min.js"></script>
  <script src="easing.min.js"></script>
  <script src="jquery.waypoints.min.js"></script>
  <script src="jquery.counterup.js"></script>
  <script src="owl.carousel.min.js"></script>
  <script src="lightbox.min.js"></script>
  <script src="typed.min.js"></script>
  

  <!-- Template Main Javascript File -->
  <script src="main.js"></script>

</body>
</html>
